@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #e5e5e5;
  min-height: 100vh;
  overflow: hidden;
}

.pokedex > img {
  width: 100vw;
}

.container {
  max-width: 70vw;
  margin: 0 15vmin;
  align-self: center;
}
.container > span {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 2.48vmin;
}
.container > span > b {
  color: #fe1936;
}
